.place {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-areas:
        "title website"
        "image paragraph";
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 73px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        display: inline;
        margin-bottom: 50px;
    }
}