.intro__title {
    
    margin: 0;
    max-width: 690px;
    height: 58px;   
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 768px) {
    .intro__title {
        min-width: 720px;
        width: 94vw;
    }

}

@media screen and (max-width: 320px) {
    .intro__title {
        min-width: 288px;
        width: 93vw;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}